<!DOCTYPE html>
<html>
  <head>
    <title>Food Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Food Name: <%= name %></h1>
    <h1>Price    : <%= price %></h1>
    <h1>BestBefore : <%= bestBefore %></h1>
  </body>
</html>
