<!DOCTYPE html>
<html>
  <head>
    <title>Food Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Id: <%= userId %></h1>
    <h1>Name    : <%= userName %></h1>
    <h1>Role : <%= role %></h1>
  </body>
</html>
